@import "./assets/fonts/Gilroy/style.css";

:root {
  /* --320: 320px;
  --480: 480px;
  --740: 740px;
  --1024: 1024px;
  --1220: 1220px;
  --1440: 1440px;
  --1920: 1920px; */
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --almostblack: rgba(31, 29, 29, 1);
  --redcherry: rgba(196, 23, 25, 0.5);
}

* {
  font-family: Gilroy;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--almostblack);
}