/*Mobile first */

.title_wrapper {
  /* width: 100%; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {
  width: 100%;
}

.logo {
  /* width: calc(40px + (120 - 40) * ((100vw - 320px) / (1440 - 320))); */
  width: 40px;
  height: 40px;
}

.title {
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
}

/* greeting section */
.greeting {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.greeting_logo {
  width: 150px;
  height: 150px;
}

.greeting_title {
  font-size: 15vw;
  text-shadow: 0px 11px 12px black;
}

@media screen and (min-width: 480px) {
  .title_wrapper {
    gap: 12px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .title {
    font-size: 18px;
  }

  .greeting_logo {
    width: 210px;
    height: 210px;
  }

  .greeting_title {
    font-size: 70px;
  }
}

@media screen and (min-width: 740px) {
  .greeting_title {
    font-size: 100px;
  }

  .greeting_logo {
    width: 250px;
    height: 250px;
  }
}
