.navMobile_wrapper {
  width: 100%;
  left: 0;
  height: 100vh;
  background-color: var(--almostblack);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 69px;
  top: 0;
}

@media screen and (min-width: 480px) {
  .navMobile_wrapper {
    width: 420px;
    right: 0;
    left: auto;
  }
}
