.gallery {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_image {
  height: 70vh;
  background-size: cover;
  background-position: center;
  width: 100vw;
  will-change: auto;
  box-shadow: inset 3px 0px 20px 20px var(--almostblack);
}

.swiper_button_next,
.swiper_button_prev {
  color: #000000;
  background: rgba(255, 255, 255, 0.384);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 15;
  top: 50%;
}

.swiper_button_next::after,
.swiper_button_prev::after {
  font-size: 15px;
}

.swiper-scrollbar {
  display: none !important;
}

.swiper_pagination{
  color: red;
  width: 40px;
  height: 40px;
  background-color: red;
}