.greeting {
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 600px;
  max-height: 700px;
  top: -2px;
  box-shadow: inset -1px -20px 20px #1f1d1d;
}

.greeting_wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  backdrop-filter: blur(5px);
}

.greeting_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 99.5%;
  background-color: rgba(0, 0, 0, 0.514);
}
